{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TrabajApp - Crear cuenta</title>
  <link rel="stylesheet" href="{% static 'css/register_two.css' %}">
</head>

<body>
  <main class="container">
    <div class="form-box">
      <div class="logo">
        <h1>Llamkay</h1>
      </div>
      <h2>Crear cuenta de trabajador</h2>
      <p class="step">Paso 2 de 3: Ubicación</p>
      <div class="progress-bar">
        <div class="step-bar active"></div>
        <div class="step-bar active"></div>
        <div class="step-bar"></div>
      </div>
      <form id="location-form" method="post">
        {% csrf_token %}
        <label for="direccion">Dirección *</label>
        <input type="text" id="direccion" placeholder="Tu dirección" required>

        <label for="departamento">Departamento *</label>
        <select name="departamento" id="departamento" required>
          <option value="">Selecciona tu departamento</option>
          {% for departamento in departamentos %}
          <option value="{{ departamento.id_ciudad }}">{{ departamento.nombre }}</option>
          {% endfor %}
        </select>


        <label for="departamento"> Departamento</label>
        <input type="text" id="departamento" placeholder="Tu departamento" required>

        <label for="provincia"> Provincia</label>
        <input type="text" id="provincia" placeholder="Tu provincia" required>

        <div class="button-group">
          <a href="{% url 'usuarios:register' %}" class="btn-outline">Anterior</a>
          <button type="submit" class="btn-primary">Siguiente</button>
        </div>
      </form>
      <p class="login-link">¿Ya tienes una cuenta? <a href="usuarios:login">Inicia sesión aquí</a></p>
      <a href="#" class="back-link">← Volver al inicio</a>
    </div>
  </main>
</body>

</html>