{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro - Llamkay</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Playwrite+HU:wght@100..400&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/seleccionar_tipo.css' %}">
</head>
<body>
  <div class="registro-selector">
    <h1>¿Cómo deseas registrarte?</h1>
    <p>Selecciona tu rol en la plataforma</p>
    <form method="post" action="{% url 'usuarios:seleccionar_tipo' %}">
      {% csrf_token %}
      <button type="submit" name="tipo_usuario" value="trabajador">🛠️ Buscar trabajo</button>
      <button type="submit" name="tipo_usuario" value="trabajador_empleador">🔁 Buscar y Publicar</button>
      <button type="submit" name="tipo_usuario" value="empleador">📢 Solo Publicar trabajos</button>
      <button type="submit" name="tipo_usuario" value="empresa">🏢 Soy una empresa</button>
    </form>
  </div>
</body>
</html>
